.colors {
color: #884EA0;
background-color: #884EA0;


color: #000000;
background-color: #000000;

color: #444444;
background-color: #444444;

color: #FFFFFF;
background-color: #FFFFFF;


color: #9D22DE;
background-color: #9D22DE;
}